doctype html
html
  head
    link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css")
    link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/tomorrow-night-eighties.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:400,400i")
    link(rel="stylesheet", href="/assets/style.css")
        
  body.markdown-body
    article
      != compiledMarkdown
