doctype html
html
  head
    link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css")
    link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/tomorrow-night-eighties.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:400,400i")
    link(rel="stylesheet", href="/assets/style.css")
        
  body.markdown-body
    div#header header <a href="www.ru">goes here</a>
    article
      header
        h1= "title"
        .header-meta
          .author By <a href="about">Andrey Sidorov</a> #{env.meta.tags ? '|' : ''}
          if env.meta.tags
            ul.tags
              each t in env.meta.tags
                li
                  a.tag(href="#")= t
      != compiledMarkdown
      p Other posts:
      ul
        for p in items
           li= JSON.stringify(p.env)
       
    div#disqus_thread
    script.
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
        s.src = '//andreysidorov.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
      
    div#footer footer goes here
