doctype html
html
  head
    link(rel="stylesheet", href="/assets/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(type="text/javascript", async="async", src="/assets/js/quicklink.min.js")
        
  body.markdown-body
    div#header
      = tag
    h3 Recent posts:
    ul
      for p in items
        if (p.env.meta.tags && p.env.meta.tags.includes(tag))
          li
            a(href=p.path)
              = p.env.title
    div#footer footer goes here
    script.
      window.addEventListener('load', () =>{
        quicklink();
      });